<div>
  <h2 id="page-heading" data-cy="SimuladoHeading">
    <span jhiTranslate="cadastrodemetasApp.simulado.home.title">Simulados</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="cadastrodemetasApp.simulado.home.refreshListLabel">Refresh list</span>
      </button>

      <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-simulado"
          [routerLink]="['/simulado/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="cadastrodemetasApp.simulado.home.createLabel">Create a new Simulado</span>
        </button>
      </ng-container>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (simulados().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="cadastrodemetasApp.simulado.home.notFound">No Simulados found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="cadastrodemetasApp.simulado.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (simulado of simulados(); track trackId(simulado)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/simulado', simulado.id, 'view']">{{ simulado.id }}</a>
              </td>
              <td>{{ simulado.nome }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/simulado', simulado.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <a [routerLink]="['/simulado', simulado.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </a>

                    <button type="submit" (click)="delete(simulado)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                  </ng-container>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
