<div>
  <h2 id="page-heading" data-cy="NotaHeading">
    <span jhiTranslate="cadastrodemetasApp.nota.home.title">Notas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="cadastrodemetasApp.nota.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nota"
        [routerLink]="['/nota/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cadastrodemetasApp.nota.home.createLabel">Create a new Nota</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (notas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="cadastrodemetasApp.nota.home.notFound">No Notas found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valor">
              <div class="d-flex">
                <span jhiTranslate="cadastrodemetasApp.nota.valor">Valor</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="area">
              <div class="d-flex">
                <span jhiTranslate="cadastrodemetasApp.nota.area">Area</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="aluno.nome">
              <div class="d-flex">
                <span jhiTranslate="cadastrodemetasApp.nota.aluno">Aluno</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="simulado.nome">
              <div class="d-flex">
                <span jhiTranslate="cadastrodemetasApp.nota.simulado">Simulado</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (nota of notas(); track trackId(nota)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/nota', nota.id, 'view']">{{ nota.id }}</a>
              </td>
              <td>{{ nota.valor }}</td>
              <td [jhiTranslate]="'cadastrodemetasApp.AreaDoEnem.' + (nota.area ?? 'null')">
                {{
                  { null: '', LINGUAGENS: 'LINGUAGENS', HUMANAS: 'HUMANAS', NATUREZA: 'NATUREZA', MATEMATICA: 'MATEMATICA' }[
                    nota.area ?? 'null'
                  ]
                }}
              </td>
              <td>
                @if (nota.aluno) {
                  <div>
                    <a [routerLink]="['/aluno', nota.aluno.id, 'view']">{{ nota.aluno.nome }}</a>
                  </div>
                }
              </td>
              <td>
                @if (nota.simulado) {
                  <div>
                    <a [routerLink]="['/simulado', nota.simulado.id, 'view']">{{ nota.simulado.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/nota', nota.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/nota', nota.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(nota)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
