<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (simulado(); as simuladoRef) {
      <div>
        <h2 data-cy="simuladoDetailsHeading"><span jhiTranslate="cadastrodemetasApp.simulado.detail.title">Simulado</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ simuladoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="cadastrodemetasApp.simulado.nome">Nome</span></dt>
          <dd>
            <span>{{ simuladoRef.nome }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <button type="button" [routerLink]="['/simulado', simuladoRef.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
          </button>
        </ng-container>
      </div>
    }
  </div>
</div>
